<section class="filter-section">
  <div class="line">
    <mat-form-field appearance="outline">
      <mat-label>Сортировка пользователей</mat-label>
      <mat-select #list (selectionChange)="sort(list.value)">
        <mat-option value="0">От А до Я</mat-option>
        <mat-option value="1">От Я до А</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Поиск</mat-label>
      <input
        matInput
        placeholder="Найти пользователя"
        #input
        (keyup.enter)="search(input.value)"
      />
      <mat-icon matSuffix (click)="search(input.value)">search</mat-icon>
    </mat-form-field>
  </div>
</section>

<section class="input-user-section">
  <div class="line">
    <mat-form-field class="field" appearance="outline">
      <mat-label>User name</mat-label>
      <input matInput placeholder="User name" [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>LastName</mat-label>
      <input matInput placeholder="LastName" [(ngModel)]="lastname" />
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>User Role</mat-label>
      <mat-select [(ngModel)]="role">
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="User">User</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="btn" color="primary" (click)="addUser()">
      Add user
    </button>
  </div>
</section>

<section class="users-list-section">
  <mat-selection-list
    #users
    (selectionChange)="selectItem(users.selectedOptions.selected)"
  >
    <mat-list-option
      [value]="user"
      *ngFor="let user of usersList; let i = index"
      [ngClass]="{ gray: !(i % 2) }"
    >
      <div>
        <mat-icon mat-list-icon>account_box</mat-icon>
        <span class="item">{{ user.username }}</span>
        <span class="item">{{ user.name }}</span>
        <span class="item" *ngIf="user.role === 'Admin'">{{ user.role }}</span>
      </div>
    </mat-list-option>
  </mat-selection-list>

  <div class="line footer">
    <div>
      <p>Выбрано пользователей: {{ users.selectedOptions.selected.length }}</p>
    </div>
    <div>
      <button
        mat-raised-button
        class="btn"
        color="warn"
        (click)="deleteUsers()"
      >
        Delete user
      </button>
    </div>
  </div>
</section>
